@media (max-width: 769px) {
  .wrap3 {
    display: none;
  }

  #man3 {
    display: none;
  }

  #man2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 208px;
    height: 259.97px;
  }
}

@media (max-width: 375px) {
  .text-wrap {
    position: absolute;
    left: 0;
    top: 0;
  }
  .wrap1 {
    width: 342.99px;
    height: 428.69px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wrap2 img + img {
    display: initial;
  }
  .img-wrap {
    flex-direction: column;
  }

  #man2,
  #man3 {
    width: 166.5px;
    height: 208.1px;
  }
}
