html {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.hidden {
  display: none important;
}

.flex {
  display: flex;
}

.relative {
  position: relative;
}

.py-rem {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.my-rem {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 1110px;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1440px;
  background: #f3f5f6;
  border-radius: 10px;
  padding-top: 64px;
  padding-bottom: 64px;
  justify-content: flex-end;
  margin: 50px auto;
}

.text-wrap {
  position: relative;
  right: -70px;
  max-width: 310px;
}

.img-wrap {
}

.wrap1 {
}

.wrap2 {
}
