body {
  background-color: rgb(237, 237, 237);
  color: gray;
  text-align: center;
}

h1 {
  color: rgb(0, 0, 0);
}

label {
  color: rgb(0, 0, 0);
}

.container {
  background-color: white;
  color: gray;
  text-align: center;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
}

input[type="email"],
input[type="password"] {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

input[type="submit"] {
  color: rgb(0, 0, 0);
  background-color: rgb(228, 228, 228);
  border: 1px solid gray;
  padding: 5px 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

a {
  font-size: 20px;
  color: rgb(56, 45, 201);
}
